@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	background-color: #fff;
	font:normal 16px/1.5 sans-serif;
	background: url(bg.png);
	color: #333;
}

body {
	background: transparent;
	text-align: -webkit-center;
}

h3{
	font: normal 32px/1.5 'Open Sans', sans-serif;
	color: #daccc7;
	text-align: center;
	padding-left: 25%;
}

.wrapper {
  display: flex;
  justify-content: center;
}
.wrapper i {
  padding: 10px;
  text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.6);
  transition: all ease-in-out 150ms;
}
.wrapper a:nth-child(1) {
  color: #dd4b39;
}
.wrapper a:nth-child(2) {
  color: #4867AA;
}
.wrapper a:nth-child(3) {
  color: #1DA1F2;
}
.wrapper i:hover {
  margin-top: -3px;
  text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
}

.container{
	max-width: 1000px;
	margin: 20px auto;
	padding: 0px;
	border-radius: 3%;
	width: 50%;
	box-shadow: 0 0 16px 6px black;
	background-color: #0b0e14;
}

.app{
	width: 100%;
	position: relative;
	border-radius: 3%;
	background-color: #192a48;
	text-align: -webkit-center;
}

.app #start-camera{
	display: none;
	border-radius: 8px;
	max-width: 400px;
	color: #fff;
	background-color: #448AFF;
	text-decoration: none;
	padding: 15px;
	opacity: 0.8;
	margin: 50px auto;
	text-align: center;
}

.app video#camera-stream{
	display: none;
	width: 100%;
	transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

.app img#snap{
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 3%;
	width: 100%;
	z-index: 10;
	display: none;
	-moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.app #error-message{
	width: 100%;
	background-color: #ccc;
	color: #9b9b9b;
	font-size: 28px;
	padding: 170px 100px;
	text-align: center;
	display: none;
}

.app .controls{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
	align-items: flex-end;
	justify-content: space-between;
	padding: 30px;
	display: none;
}

.app .controls a{
	border-radius: 50%;
	color: #fff;
	background-color: #111;
	text-decoration: none;
	padding: 15px;
	line-height: 0;
	opacity: 0.7;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

.app .controls a:hover{
	opacity: 1;
}

.app .controls a.disabled{
	background-color: #555;
	opacity: 0.5;
	cursor: default;
	pointer-events: none;
}

.app .controls a.disabled:hover{
	opacity: 0.5;
}

.app .controls a i{
	font-size: 18px;
}

.app .controls #take-photo i{
	font-size: 32px;
}

.app canvas{
	display: none;
}



.app #error-message.visible
{
	display: block;
	border-radius: 3%;
}

.app video#camera-stream.visible{
	display: block;
	border-radius: 3%;
	transform: rotateY(180deg);
	-webkit-transform:rotateY(180deg); /* Safari and Chrome */
	-moz-transform:rotateY(180deg); /* Firefox */
}

.app img#snap.visible {
	display: block;
	border-radius: 3%;
	-moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.app .controls.visible{
	display: flex;
}



@media(max-width: 1000px){
	.container{
		width: 60%;
		margin: 25px;
	}

	.app #start-camera.visible{
		display: block;
	}

	.app .controls a i{
		font-size: 16px;
	}

	.app .controls #take-photo i{
		font-size: 24px;
	}

	.instructions {
		padding-right: 20%;
	}
}


@media(max-width: 600px){
	.container{
		width: 80%;
		margin: 10px;
	}

	#start_stop {
		width: 40%;
	}

	#save_photo {
		width: 32%
	}

	.app #error-message{
		padding: 80px 50px;
		font-size: 18px;
	}

	.app .controls a i{
		font-size: 12px;
	}

	.app .controls #take-photo i{
		font-size: 18px;
	}

	.instructions {
		padding-right: 10%;
	}
	.anno-inner {
	margin: 0px 30px;
	}
}

@media(min-width: 1000px){
	.instructions {
		padding-right: 25%;
	}
}


#start_stop {
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    margin-bottom: 12px;
    width: 30%;
}

#save_photo {
	display: flex;
    font-size: 1.2rem;
    justify-content: center;
    margin-bottom: 20px;
    width: 25%;
}

.instructions{
	color: #fff;
    float: right;
    margin: 15px;
    text-decoration: none;
    line-height: 0;
    opacity: 0.7;
    outline: none;
    transform: scale(1.1);
    -webkit-tap-highlight-color: transparent;
}

.instructions:hover{
	opacity: 1;
	color: tan;
}

.swal-button {
  padding: 7px 19px;
  background-color: #4962B3;
  font-size: 12px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.swal-modal {
	border-radius: 5%;
}

.swal-text {
	font-weight: 500;
}

.anno-overlay {
	z-index: auto;
}

