{% load static %}

<html>
<head>
	<title>MoodMusics - Audio Player</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
	<link rel="stylesheet" href="{% static 'main2.css' %}" media="screen">
</head>
<body>
	<div id="container">
		<div id="audio-image">
			<img class="cover" />
		</div>

		<div id="audio-player">
			<div id="audio-info">
				<span class="movie"></span> - <span class="title"></span>
			</div>
			<div id="vol_controls">
				<img id="volume_button"></img>
				<input id="volume" type="range" min="0" max="10" value="10" />
			</div>
			<div id="buttons">
				<span>
					<button id="prev"></button>
					<button id="play"></button>
					<button id="pause"></button>
					<button id="stop"></button>
					<button id="next"></button>
				</span>
			</div>
			<div class="clearfix"></div>
			<div id="tracker">
				<div class="progress">
    				<div class="progress-bar progress-bar-striped" style="width:0%;"></div>
  				</div>
				<span id="duration"></span>
			</div>
			<div class="clearfix"></div>
			<ul id="playlist" class="hidden">

				{% if my_mood == 'Happy' %}
				<li song="https://drive.google.com/u/2/uc?id=1oJHjW23rLqkvLhkOo0yNMO_asUTRWTqT&export=download" cover="alan.jpg" movie="Alan Walker">Faded</li>
				<li song="https://drive.google.com/u/2/uc?id=1gW88tNMI6nyGYqBbqJh4F2ACLsOuDucX&export=download" cover="okjanu.jpg" movie="Ok Jannu">The Humma Song</li>
				<li song="https://drive.google.com/u/2/uc?id=1_UIwyhGSkf7AgoLdUwYcLIM1v2K8HwOk&export=download" cover="barfi.jpg" movie="Barfi">Barfi</li>
				<li song="https://drive.google.com/u/2/uc?id=1VqxBDkzWiKy6KibCDCYp-oybH9dKTEBn&export=download" cover="sonuketitu.jpg" movie="Sonu Ke Titu Ki Sweety">Dil Chori</li>
				<li song="https://drive.google.com/u/2/uc?id=17gofl7pTgMY_b1mF0BNGG0kujmtz-hQT&export=download" cover="sonuketitu.jpg" movie="Sonu Ke Titu Ki Sweety">Bom Diggy Diggy</li>

				{% elif my_mood == 'Sad' %}
				<li song="https://drive.google.com/u/2/uc?id=1aMegxHDVbwfIaOOFDOMtOnA5gv5v9bmA&export=download" cover="1920evil.jpg" movie="1920-Evil-Returns">Uska Hi Banana</li>
				<li song="https://drive.google.com/u/2/uc?id=15OjJPN_7weN9YYbkcoumAheS5l1_7nAl&export=download" cover="yehjawani.jpg" movie="Yeh Jawani Hai Diwani">Kabira</li>
				<li song="https://drive.google.com/u/2/uc?id=138lVwkEGXobFxf3_9Y-9hWv58nA4HGY4&export=download" cover="ncs.jpg" movie="Electro-Light">Symbolism</li>
				<li song="https://drive.google.com/u/2/uc?id=1e1h75lfZdR8alMAGTuerCuZf6Ltwm4Yi&export=download" cover="ncs.jpg" movie="NIVIRO">The Floor Is Lava</li>
				<li song="https://drive.google.com/u/2/uc?id=14micQ2G5cRvzAFe19jwWwGy1LmsniMdo&export=download" cover="ncs.jpg" movie="Sub Sound">Feel the Buzz</li>

				{% elif my_mood == 'Angry' %}
				<li song="https://drive.google.com/u/2/uc?id=1Q0zQyBQZbUWgiM3bbotmQB59surIwvii&export=download" cover="badlapur.jpg" movie="Badlapur">Jee Karda</li>
				<li song="https://drive.google.com/u/2/uc?id=18DMZ4gG3H8t_YuosxTcB8H6KG7zlwSro&export=download" cover="rockstar.jpg" movie="Rockstar">Sadda Haq</li>
				<li song="https://drive.google.com/u/2/uc?id=1Lj33NnyNgxH33wdkHPmHSzVOcvhDagEK&export=download" cover="haider.jpg" movie="Haider">Aao Na</li>
				<li song="https://drive.google.com/u/2/uc?id=1LmmZwnbuKMCz6u-VASfUSm2K3Kfhpx1o&export=download" cover="delhibelly.jpg" movie="Delhi Belly">Bhaag D.K.Bose</li>
				<li song="https://drive.google.com/u/2/uc?id=1C01SqDosw5Dt62SgPW7QRH1IbV-41v9e&export=download" cover="ishaqzaade.jpg" movie="Ishaqzaade">Pareshaan</li>	

				{% elif my_mood == 'Disgust' %}
				<li song="https://drive.google.com/u/2/uc?id=1YWvqfNfbs1ZDotRaCHpENEg1lMO5oRKz&export=download" cover="ime.jpg" movie="I-Me-Aur-Main">Saajna</li>
				<li song="https://drive.google.com/u/2/uc?id=1d0GJNwHkMsVMOvtDpRMnH8AUpdOuhALK&export=download" cover="murder3.jpg" movie="Murder-3">Teri Jhuki Nazar</li>

				{% elif my_mood == 'Surprise' %}
				<li song="https://drive.google.com/u/2/uc?id=1arQHVxxMA_T8afgB9Z5RJbomgReGheoE&export=download" cover="ncs.jpg" movie="Different Heaven & EH!DE">My Heart</li>
				<li song="https://drive.google.com/u/2/uc?id=19b_aUm3eItRo9K5cWdvThXIymnO3dhuL&export=download" cover="haywyre.jpg" movie="Haywyre">Synergy</li>
				<li song="https://drive.google.com/u/2/uc?id=1OP-PLlLAGXI0jxIa1iIkkCUt8w5iHDue&export=download" cover="ncs.jpg" movie="Disco's Over">TSU</li>
				<li song="https://drive.google.com/u/2/uc?id=1-HOLNqdZv8AjvVSCf2b0OYLEDdgB7z6p&export=download" cover="demons.jpg" movie="Zed's Dead">Demons</li>
				<li song="https://drive.google.com/u/2/uc?id=1P7_mgu0Cz89IMw9y0M9VZYy0JY1BgMfw&export=download" cover="ncs.jpg" movie="Desmeon">Hellcat</li>

				{% elif my_mood == 'Fear' %}
				<li song="https://drive.google.com/u/2/uc?id=1-HOLNqdZv8AjvVSCf2b0OYLEDdgB7z6p&export=download" cover="demons.jpg" movie="Zed's Dead">Demons</li>
				<li song="https://drive.google.com/u/2/uc?id=1tqxbkXfyqvECmyv2ZrqBYR3UOI-9ZRmF&export=download" cover="jannat2.jpg" movie="Jannat 2">Sang Hoon Tere</li>
				<li song="https://drive.google.com/u/2/uc?id=1cTzcLUtEfHXkdL8RZ20qRGxmoxbFzT8N&export=download" cover="magenta.jpg" movie="DJ Snake">Magenta Riddim</li>
				<li song="https://drive.google.com/u/2/uc?id=1Cf_96VpQ9TqEd_-QTgRB7hm6tOQLaiyu&export=download" cover="invincible.jpg" movie="DEAF KEV">Invincible</li>
				<li song="https://drive.google.com/u/2/uc?id=1ubVl8GPkZqJGbxrgPus2ZIzrILojSCtx&export=download" cover="omerta.jpg" movie="Debris & Our Psych">Omerta</li>

				{% elif my_mood == 'Neutral' %}
				<li song="https://drive.google.com/u/2/uc?id=14BkY5iculKdJ1QJ-SWyU9zPp7zV0yEV5&export=download" cover="migente.jpg" movie="Willy William ft J.Balvin">Mi Gente</li>
				<li song="https://drive.google.com/u/2/uc?id=1Trw_LYlDXLunLRqXWixVo49aJAuPZnN1&export=download" cover="mcfioti.jpg" movie="MC Fioti">Bum Bum Tam Tam</li>
				<li song="https://drive.google.com/u/2/uc?id=1hRWUA--xou-EOmyCMKe7D1LT2yUEZzWd&export=download" cover="nucleya.jpg" movie="Nucleya">Bhayanak Atma</li>
				<li song="https://drive.google.com/u/2/uc?id=1InTa-ZIybXCqxwCwtzQv3NauP9_yQ3-B&export=download" cover="aron.jpg" movie="Aron Chupa">I'm an Albatraoz</li>
				<li song="https://drive.google.com/u/2/uc?id=198bopBrFwKxYEJCl0ddsfoWhVd-uYH_C&export=download" cover="ritviz.jpg" movie="Ritviz">Udd Gaye</li>
				{% endif %}

			</ul>
		</div>
		<div id="detected_mood">
			<span>
				{% if my_mood == 'Happy' %}
				Mood : Happy
				{% elif my_mood == 'Sad' %}
				Mood : Sad			
				{% elif my_mood == 'Angry' %}
				Mood : Angry
				{% elif my_mood == 'Disgust' %}
				Mood : Disgust
				{% elif my_mood == 'Surprise' %}
				Mood : Surprise
				{% elif my_mood == 'Fear' %}
				Mood : Fear
				{% elif my_mood == 'Neutral' %}
				Mood : Neutral
				{% endif %}
			</span>
		</div>

	</div>
	<div id="center_div">
		<div class="wrapper">
			<a target="_blank" href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=jainakash720@gmail.com&shva=1"><i class="fa fa-3x fa-google"></i></a>
			<a target="_blank" href="https://www.facebook.com/akash720"><i class="fa fa-3x fa-facebook-square"></i></a>
			<a target="_blank" href="https://github.com/akash720/"><i class="fa fa-3x fa-github-square"></i></a>
			<a target="_blank" href="https://www.linkedin.com/in/akash-jain-248b55137/"><i class="fa fa-3x fa-linkedin-square"></i>
			</div></a>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="{% static 'main2.js' %}"></script>
	</body>
	</html>
